/* background: #3b5998; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.clear {
    clear: both;
}

html, body {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(239, 244, 250), #ced4e1);
}

header {
    padding: 10px;
    width: 100%;
    height: 75px;
    background: #3b5998;
}

.max-width {
    max-width: 1280px;
    margin: auto;
}

#logo {
    padding: 0 100px;
    float: left;
    width: 50%;
    height: 100%;
}

#logo img {
    margin: 17px 0 0 0;
    width: 160px;
}

#login {
    padding: 0 55px;
    width: 50%;
    height: 100%;
    text-align: left;
    float: right;
}

.user {
    display: inline-block;
    width: 150px;
}

.user label {
    color: white;
    font-size: 13px;
}

.user input {
    margin-right: 3px;
    padding: 1px 3px;
    width: 150px;
    font-size: 12px;
}

.user input:focus {
    outline: none;
}

.user-submit {
    display: inline-block;
}

.user-submit input[type=submit] {
    margin: 0 6px;
    padding: 2px 6px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    background: #4c68a9;
    border: 1px solid #384f85;
    cursor: pointer;
}

#lembrar, #esq-senha {
    display: inline-block;
    margin-top: 4px;
    width: 150px;
}

#lembrar label, #esq-senha a {
    font-size: 14px;
    color: #7694cb;
    text-decoration: none;
}

#login-mobile {
    display: none;
}

#content, #register {
    float: left;
}

#content {
    padding: 70px;
    width: 50%;
    height: calc(100vh - 75px);
}

#content h3 {
    margin: 0 auto 40px auto;
    max-width: 400px;
    color: #3b5998;
    line-height: 25px;
    font-size: 18px;
}

#content > img {
    padding-left: 35px;
    width: 100%;
    margin-bottom: 85px;
}

#links {
    display: inline-block;
}

#links ul {
    list-style-type: none;
}

#links ul > li > a {
    text-decoration: none;
    display: flex;
    font-size: 14px;
}

#links ul > li img {
    margin: 5px;
    width: 20px;
    height: 20px;
}

#links ul > li > a > span {
    padding: 7px 0;
    color: #222;
}

#links ul > li > a > span:hover {
    text-decoration: underline;
}

#register {
    padding: 20px 35px;
    width: 50%;
    height: calc(100vh - 75px);
}

#register > p {
    margin: 12px 0;
    font-size: 15px;
}

.input_container {
    width: 75%;
}

.input_container input {
    margin: 5px 0;
    padding: 5px;
    height: 30px;
    width: 100%;
    border: none;
    border-radius: 3px;
}

.input_container input:focus {
    outline: none;
}

#nome_sobrenome input[type="text"] {
    height: 30px;
    width: 49%;
}

#nome_sobrenome :nth-child(1) {
    float: left;
}

#nome_sobrenome :nth-child(2) {
    float: right;
}

#date h3 {
    margin: 10px 0;
    font-size: 17px;
}

#birthday, #span_date {
    float: left;
}

#birthday input {
    padding: 5px;
    width: 140px;
    height: 30px;
    border: none;
    border-radius: 3px;
}
#birthday input {
    outline: none;
}

#span_date {
    margin-left: 10px;
    width: 40%;
}

#span_date span {
    font-size: 12px;
}

#span_date span a {
    color: #7694cb;
}

#genery {
    margin: 10px 0 10px 0;
}

#genery .space_check {
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
}

#terms {
    max-width: 330px;
}

#terms span {
    font-size: 11px;
}

#terms span a {
    color: #7694cb;
}

#signin {
    margin-top: 20px;
}

#signin input {
    width: 170px;
    height: 35px;
    color: white;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    background: linear-gradient(rgb(126, 220, 79), rgb(89, 156, 55));
}

#signin input:hover {
    background: linear-gradient(rgb(124, 214, 79), rgb(87, 153, 53));
    cursor: pointer;
}

#signin input:focus {
    outline: none;
}

@media (max-width: 800px) {
    header {
        top: 0;
        position: fixed;
    }

    main {
        background: linear-gradient(rgb(239, 244, 250), #ced4e1);
    }

    #login-mobile {
        display: block;
        padding: 45px 0;
        margin-top: 75px;
        height: calc(100vh - 210px);
        text-align: center;
    }

    #logo {
        padding: 10px;
        float: none;
        width: 100%;
        text-align: center;
    }

    #logo img {
        margin: auto;
    }

    #login {
        display: none;
    }
    
    .user {
        display: block;
        margin-top: 15px;
        width: 100%;
    }

    .user label {
        color: black;
        font-size: 17px;
    }

    .user input {
        margin-top: 5px;
        width: 80%;
        height: 30px;
        font-size: 15px;
        border: 1px solid black;
    }

    .user-submit {
        margin-top: 30px;
        width: 100%;
    }

    .user-submit input[type=submit] {
        width: 50%;
        height: 30px;
        font-size: 17px;
    }
    #esq-senha {
        margin: 25px 0;
    }

    #content {
        display: none;
    }

    #register {
        width: 100%;
        text-align: center;
    }

    #nome_sobrenome, .input_width {
        width: 100%;
    }

    #date {
        display: inline-block;
        margin-top: 15px;
    }

    #span_date {
        font-size: 12px;
        width: 155px;
    }

    #terms {
        margin: auto;
    }
}